

    <div id="map"></div>


    <script src="script.js"></script>
<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQ3j5i4f-wFcLvWEaKRmE6P1xId2zD4z4&callback=initMap"
>


</script>

<script>
    var map

function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    center: {
      lat: -34.397,
      lng: 150.644,
    },
    zoom: 8,
  })
}
</script>